In [46]:
import pandas as pd
import numpy as np
crimes = pd.read_csv("2003to2016.csv")

In [130]:
prost = crimes[crimes.Category == 'PROSTITUTION']
theft = crimes[crimes.Category == 'LARCENY/THEFT']
#print prost[0:5]
#print theft[0:5]

#bloody NaN
districtset = crimes.PdDistrict.unique()[:-1]
a = {}

for i in districtset:
    a[i] = [[0 for n in range(0,13)], [0 for n in range(0,13)]]

a = pd.DataFrame(a)
for i in prost.iterrows():
    #2004, as we zero index
    year = int(i[1]['Date'][-4:]) - 2003
    if year > 12:
        continue
    a[i[1]['PdDistrict']][0][year] += 1
    
for i in theft.iterrows():
    #2004, as we zero index
    year = int(i[1]['Date'][-4:]) - 2003
    if year > 12:
        continue
    a[i[1]['PdDistrict']][1][year] += 1

In [134]:

print a['MISSION']
csv = pd.DataFrame(columns=['district', 'prost', 'theft', 'year'])
index = 0
for i in range(2003, 2016):
    for dist in districtset:
        csv.loc[index] = [dist, int(a[dist][0][i-2003]),int(a[dist][1][i-2003]), str(i)]
        index += 1
print csv

0    [713, 529, 346, 591, 740, 707, 997, 774, 657, ...
1    [2767, 2721, 2613, 2535, 2502, 2772, 2602, 289...
Name: MISSION, dtype: object
       district  prost    theft  year
0       MISSION  713.0   2767.0  2003
1    TENDERLOIN  527.0   1496.0  2003
2      NORTHERN  581.0   4548.0  2003
3      RICHMOND   15.0   1497.0  2003
4       BAYVIEW   11.0   1729.0  2003
5       CENTRAL   70.0   3480.0  2003
6          PARK    2.0   1543.0  2003
7       TARAVAL   10.0   1917.0  2003
8      SOUTHERN   18.0   5867.0  2003
9     INGLESIDE    5.0   1549.0  2003
10      MISSION  529.0   2721.0  2004
11   TENDERLOIN  224.0   1445.0  2004
12     NORTHERN  551.0   4121.0  2004
13     RICHMOND    4.0   1318.0  2004
14      BAYVIEW   18.0   1408.0  2004
15      CENTRAL  163.0   3240.0  2004
16         PARK    0.0   1308.0  2004
17      TARAVAL   11.0   1790.0  2004
18     SOUTHERN   25.0   5786.0  2004
19    INGLESIDE    2.0   1368.0  2004
20      MISSION  346.0   2613.0  2005
21   TENDERLOIN  151.0   1565.0  2005
22     NORTHERN  364.0   4708.0  2005
23     RICHMOND    8.0   1272.0  2005
24      BAYVIEW   16.0   1654.0  2005
25      CENTRAL  160.0   3544.0  2005
26         PARK    1.0   1272.0  2005
27      TARAVAL   18.0   1632.0  2005
28     SOUTHERN   31.0   5610.0  2005
29    INGLESIDE    8.0   1449.0  2005
..          ...    ...      ...   ...
100     MISSION  469.0   4265.0  2013
101  TENDERLOIN   35.0   1823.0  2013
102    NORTHERN  115.0   5696.0  2013
103    RICHMOND    1.0   2261.0  2013
104     BAYVIEW   10.0   2211.0  2013
105     CENTRAL   37.0   4893.0  2013
106        PARK    1.0   2042.0  2013
107     TARAVAL    3.0   2291.0  2013
108    SOUTHERN   15.0   8829.0  2013
109   INGLESIDE    6.0   2101.0  2013
110     MISSION  162.0   3252.0  2014
111  TENDERLOIN   15.0   1904.0  2014
112    NORTHERN   40.0   6325.0  2014
113    RICHMOND    2.0   2149.0  2014
114     BAYVIEW    5.0   2020.0  2014
115     CENTRAL  166.0   5772.0  2014
116        PARK    1.0   2230.0  2014
117     TARAVAL   22.0   2239.0  2014
118    SOUTHERN   31.0  10038.0  2014
119   INGLESIDE    5.0   2074.0  2014
120     MISSION   66.0   2407.0  2015
121  TENDERLOIN   23.0   2039.0  2015
122    NORTHERN   42.0   7468.0  2015
123    RICHMOND    9.0   2977.0  2015
124     BAYVIEW    7.0   2211.0  2015
125     CENTRAL   44.0   6917.0  2015
126        PARK    1.0   2378.0  2015
127     TARAVAL   81.0   2731.0  2015
128    SOUTHERN   96.0  10931.0  2015
129   INGLESIDE    5.0   2009.0  2015

[130 rows x 4 columns]

In [133]:
csv.to_csv('week7.csv')